.Weather {
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.temp {
	font-size: 96px;
}

.cloudiness {
	color: var(--color-grey);
	font-size: 20px;
	margin-bottom: 10px;
}

.tempRange {
	font-size: 20px;
}

.tempRange span:first-child {
	margin-right: 20px;
}