.HomePage {
	height: 100vh;
	position: relative;
}

.img {
	width: 390px;
	height: 390px;
	object-fit: cover;
	object-position: center center;
	position: absolute;
	bottom: 50px;
	left: 0;
	z-index: 1;
}